.topbar {
    padding: 0px 20px 0px 20px;
}

.topbar-header-logo {
    width: 64px;
    line-height: 64px;
}

.topbar-header-title {
    font-size: 32px;
    font-weight: bold;
    line-height: 64px;
}

.topbar-header-version {
    font-size: 14px;
    font-weight: bold;
    color: #ADB3B8;
    padding-left: 10px;
}

.topbar-text {
    font-size: 20px;
}

.topbar-time {
    font-size: 16px;
    line-height: 24px;
    color: #4E7CAD;
}

.topbar-timezone {
    font-size: 12px;
    line-height: 24px;
    color: #4E7CAD;
}